QAbstractItemView{
    background-color: #272822;
    color: #f8f8f2;
}

QAbstractItemView::item:selected{
    background-color: #202020;
}

QTreeView, QTabWidget{
    border: 0;
}


QTreeView::branch{
    background-color: #272822;
    color: #f8f8f2;
}

QTreeView::branch:selected{
    background-color: #202020;
}

QSplitter{
    background-color: #2F3129;
}
QSplitter::handle{
    background-color: #2F3129;
}

QMainWindow{
    background-color: #2F3129;
}
