@font-face {
    font-family: Ubuntu Mono;
    src: url(:/fonts/UbuntuMono-R.ttf) format(truetype);
}

QTreeView, QTabWidget{
    border: 0;
}

QMainWindow{
    font-size: 15px;
    font-family: Ubuntu Mono;
    line-height: 120%;
    background-color: #2F3129;
    color: #f8f8f2;
}

QAbstractItemView{
    background-color: #272822;
    color: #f8f8f2;
    font-size: 15px;
    font-family: Ubuntu Mono;
    line-height: 120%;
}

QAbstractItemView::item:selected{
    background-color: #202020;
    color: #f8f8f2;
}

QAbstractItemView::item:!selected{
    color: #8F908A;
}

QAbstractItemView::item:selected:!active{
    color: #8F908A;
}
QAbstractItemView::item:hover{
    background-color: #202020;
    color: #f8f8f2;
}


QTreeView::branch{
    background-color: #272822;
}
QTreeView::branch:selected, QTreeView::branch:hover{
    background-color: #202020;
}
QTreeView::branch:has-siblings:!adjoins-item {
    border-image: url(:/images/treeview/vline.png) 0;
}
QTreeView::branch:has-siblings:adjoins-item {
    border-image: url(:/images/treeview/branch-more.png) 0;
}
QTreeView::branch:!has-children:!has-siblings:adjoins-item {
    border-image: url(:/images/treeview/branch-end.png) 0;
}
QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
        border-image: none;
        image: url(:/images/treeview/branch-closed.svg);
}
QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings  {
        border-image: none;
        image: url(:/images/treeview/branch-open.svg);
}


QSplitter::handle{
    background-color: #272822;
}


QStackedWidget{
    background-color: #2F3129;
}
QTabBar{
    font-size: 16px;
    font-family: Ubuntu Mono;
    line-height: 120%;
    background-color: #2F3129;
    color: #f8f8f2;
}
QTabBar::tab:selected{
    background-color: #272822;
}
QTabBar::tab:!selected{
    background-color: #2F3129;
    color: #8F908A;
}
QTabBar::close-button{
    image: url(:/images/tabwidget/close.svg)
}
QTabBar::close-button:hover{
    image: url(:/images/tabwidget/close-hover.svg)
}


QTabBar QToolButton{
    background-color: #272822;
}
QTabBar QToolButton::left-arrow{
    image: url(:images/tabwidget/left.svg);
}
QTabBar QToolButton::right-arrow{
    image: url(:images/tabwidget/right.svg);
}
QTabBar QToolButton::left-arrow:disabled{
    image: url(:images/null.svg);
}
QTabBar QToolButton::right-arrow:disabled{
    image: url(:images/null.svg);
}

QToolBar::handle{
    width: 0;
    height: 0;
}
QToolBar QToolButton:hover{
    background-color: #666666;
}
